# Ignore node_modules
node_modules/

# Ignore test files
test file


# Ignore other unnecessary files
.idea/

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build outputs
build/
dist/

# Ignore Expo/EAS build cache
.expo/
.expo-shared/

# Ignore environment files
.env
